<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login_mobile.css">
    <title>login</title>
</head>
<body>
    <div class="credential-box">
        <form action="/login" method="POST">
            <div class="input-box">
                <input id="username-input" name="username" type="text" placeholder="username" required>
                <input id="password-input" name="password" type="password" placeholder="password" required>
            </div>
            <span class="toggle-password">👁️</span>
            <div class="button-container">
                <button id="button" type="submit">Login</button>
            </div>
            <div class="error-message">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                            {% for category, message in messages %}
                                <p class="{{ category }}">{{ message }}</p>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </form>
    </div>
    <script src="/static/js/login_comune.js"></script>
</body>
</html>